<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Radni nalozi</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <app-element *ngFor="let workOrder of workOrders" [routerLink]="['/', 'work-orders','tabs', 'explore', workOrder.id]">
      <ion-item *ngIf="userId===workOrder.userId || userId==='bYXBhlRTtAbdFCfZ2hJilZguBd52'">
        <ion-avatar slot="start">
          <ion-icon name="document"></ion-icon>
        </ion-avatar>
        <ion-label>{{workOrder.title}}</ion-label>

      </ion-item>
    </app-element>
  </ion-list>


</ion-content>
