<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #logInForm="ngForm" (ngSubmit)="onLogIn(logInForm)">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel name="email" required email #email="ngModel"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="email.invalid && email.touched">
            <ion-label>Should be a valid email address.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password" required minlength="8" #password="ngModel"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="password.invalid && password.touched">
            <ion-label>Should be minimum 8 characters long.</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6" >
        <ion-button type="submit" expand="block" shape="round">Log in</ion-button>

      </ion-col>
    </ion-row>
    <ion-card align="center">
      <ion-router-link href="../register">
        <h3 align="center">Registracija</h3>
      </ion-router-link>
    </ion-card>
  </ion-grid>
</form>
</ion-content>
